.home-ctas {
    padding: 0 20px;
    margin-bottom: 110px;
}

.home-ctas .inner {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    transition: 0.1s;
    font-family: 'Open Sans', sans-serif;
}

.home-ctas .inner .sub-links li {
    float: left;
    display: inline;
    margin: 0;
    width: 16.6666666%;
    padding: 0 12px;
}

.home-ctas .inner .cta-blocks {
    margin: 0 -12px 48px;
    padding: 0;
    display: block;
    height: 200px;
}

.home-ctas .inner .cta-blocks li {
    float: left;
    width: 33.33333%;
    margin: 0;
    padding: 0 12px;
    height: 200px;
    display: inline;
}

.home-ctas .inner .cta-blocks li a {
    display: block;
    height: 100%;
    background-color: #061C2C;
    position: relative;
    padding: 98px 0 0 32px;
    background-image: url(./assets/asset2sssssssssssssssssssssss.svg);
    background-repeat: no-repeat;
    background-position: top 31px left 32px;
    color: #fff;
    text-decoration: none;
}

.home-ctas .inner .cta-blocks li a span {
    font-size: 32px;
    line-height: 33px;
    font-weight: 400;
    text-transform: uppercase;
}

.home-intro .inner p {
    width: 60%;
    display: block;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    color: #061C2C;
    float: left;
    margin-top: 20px;
}

/*smaller-blocks*/
.home-ctas .inner .sub-links li a {
    display: block;
    height: 38px;
    line-height: 38px;
    padding: 0 17px;
    background-color: #244AC2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-image: url(./assets/asset33333333333333333.svg);
}

.home-ctas .inner .sub-links {
    display: block;
    margin: 0 -12px;
    padding: 0;
    overflow: hidden;
}

.inside {
    display: flex;
    width: 78%;
    margin-left: 53px;
    font-size: 24px;
}

img.weird-pics {
    margin-left: 45%;
    margin-top: 32px;
    width: 574px;
    margin-right: -138px;
}


.home-intro {
    margin-bottom: 52px;
    margin-top: 42px;
}

.net {
    width: 97%;
}

.main-slider .inner ul li h3 {
    left: -100%;
    top: 50%;
    margin-top: -60px;
    position: absolute;
    background-color: #244AC2;
    display: block;
    height: 120px;
    padding-left: 60px;
    padding-right: 100px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    line-height: 120px;
    text-transform: uppercase;
    transition-property: left;
    transition-duration: 0.6s;
}

.main-slider .inner>.next-slide {
    position: absolute;
    z-index: 20;
    width: 101px;
    height: 118px;
    display: block;
    background-image: url(./assets/slider-next\ \(2\).svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    top: 50%;
    right: 0;
    margin-top: -59px;
    cursor: pointer;
}




.slider-inner {
    width: 90%;
    height: 500px;
    overflow: hidden;
    position: relative;
    padding: 3px;
    margin: 0 70px;
}

.slider-inner img {
    display: none;
    width: 92.8%;
    height: 600px;
    margin-left: 65px;
}

.slider-inner img.active {
    display: inline-block;
}

.next {
    height: 100px;
    width: 79px;
    cursor: pointer;
    position: absolute;
    left: 89%;
    top: 40%;
    z-index: 50;
}

.next-one {
    height: 100px;
    width: 83px;
    cursor: pointer;
    position: absolute;
    left: 95%;
    top: 22%;
    z-index: 50;
}

.slider-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 104.9%;
    margin-left: -33px;

}

::-webkit-scrollbar {
    display: none;
}

.slide {
    min-width: 100%;
}

img {

    height: auto;
    display: block;
}

.pagination {
    position: absolute;
    display: block;
    bottom: 252px;
    right: 215px;
    top: 441px;
    z-index: 10;
    text-align: center;
}

.pagination span.active {
    opacity: 0.39;
    transform: rotate(160deg);
}

.pagination span {
    background-image: url(./assets/slider-dots\ \(1\).svg);
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 1px;
}

img.sitelogo {
    width: 15%;
    margin-left: 91px;
}

.logobutton {
    float: right;
    margin-right: 112px;
    margin-top: -80px;
}

.slider-inner {
    width: 90%;
    height: 500px;
    overflow: hidden;
    position: relative;
    padding: 3px;
    margin: 0 70px;
}

.slider-inner img {
    display: none;
    width: 92.8%;
    height: 600px;
    margin-left: 65px;
}

.slider-inner img.active {
    display: inline-block;
}

.blue-banner {
    top: 53%;
    margin-top: -60px;
    height: 58px;
    padding: 5px;
    position: absolute;
    background-color: #244AC2;
    display: block;
    padding-left: 120px;
    padding-right: 100px;
    color: #fff;
    margin-left: 34px;
    text-transform: uppercase;
    z-index: 1;
}

.black-banner {
    background-color: #000;
    height: 58px;
    width: 219px;
    position: absolute;
    top: 45.4%;
    right: 21px;
}



/*media queries*/


/*leave this */
/* @media screen  and (max-width: 340px) {
    .slider-inner {
        width: 100%;
    }

    .inside {
        display: flex;
        flex-direction: column;
        margin-left: 7px;
        width: 104%;
    }

    img.weird-pics {
        margin-left: 4px;
        width: 246px;
    }

    .home-ctas .inner .cta-blocks {
        display: flex;
        flex-direction: column;
    }

    .sub-links {
        display: flex;
        flex-direction: column;
    }

    .home-ctas .inner .cta-blocks li {
        margin-bottom: 20px;
        width: 100%;
    }

    .slider-inner img {
        width: 200px;
    }

    .home-ctas .inner .cta-blocks li a span {
        font-size: 22px;
    }

    .blue-banner {
        padding: 6px;
        margin-left: -5px;
    }

    .black-banner {
        display: none;
    }

    .slider-inner img.active {
        width: 50%;
    }

    .slider {
        width: 722px;
        margin-left: -137px;
    }

    .next {
        width: 38px;
        margin-left:-13px;
    }

    .pagination {
        display: none;
    }

    .home-ctas .inner .sub-links {
        margin-top: 200px;
    }

    .home-ctas .inner .sub-links {
        margin-top: 144%;
        display: flex;
        width: 655%;
    }

    .home-ctas .inner .sub-links li a {
        width: 100%;
        margin-top: 10px;
    }

    .menuthingie {
        display:none;
    }

    img.sitelogo {
        margin-left: inherit;
    }
} */
@media screen and (min-width:357px) and (max-width:377px){
    .next{
        margin-left:-20px;
    }
    .slider {
        width: 159%;
    margin-left: -132px;

    }
}
@media screen and (min-width:377px) and (max-width:380px){
    .next{
      margin-left:-3px;
    }
    .slider {
        width: 140%;
    margin-left: -132px;

    }
}
@media screen and (min-width: 340px) and (max-width:400px)  {
    .home-ctas .inner {
        padding: 0 10px;
    }

    .home-intro .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-intro .inner p {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    .home-intro .weird-pic {
        margin-top: 201%;
        margin-left: -410px;
        width: 159%;
    }

    img.weird-pics {
        width: 65%;
    margin-top: -127%;
    margin-left: 402px;
    }

    

    .black-banner {
        display: none;
    }

    .slider {
        width: 516px;
        margin-left: -121px;
    }

    .pagination span {
        display: none;
    }

    .blue-banner {
        display: block;
        width: 315px;
        font-size: 12px;
        padding-left: 23px;
        margin-left: -5px;
    }

    .home-ctas .inner .cta-blocks {
        margin-bottom: 20px;
    }

    .home-ctas .inner .cta-blocks li {
        width: 100%;
        margin-bottom: 20px;
    }

    .cta-blocks span {
        padding-top: 20px;
    }

    .home-ctas .inner .cta-blocks li a {
        padding: 81px 0;
        text-align: center;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
    }

    .li span {
        margin-top: 20px;
    }

    .home-ctas .inner .sub-links li {
        width: 100%;
        margin-bottom: 10px;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

    }

    .sub-links {
        margin-top: 20px;
        flex-direction: column;

    }

    .inside {
        /* width: 43%; */
        display:flex;
        flex-direction: column;
        margin-left: 48px;
    margin-bottom: -150%;


    }

   

    .menuthingie {
        margin-left: 32px;
        margin-top: 50px;
        width: 26px;
    }

    img.sitelogo {
        margin-left: 14px;
        width: 89px;
    }

    img.next {
        width: 40px;
    } 

}
@media screen and (min-width: 320px) and (max-width:350px)  {
    .home-ctas .inner {
        padding: 0 10px;
    }

    .home-intro .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-intro .inner p {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    .home-intro .weird-pic {
        margin-top: 201%;
        margin-left: -410px;
        width: 159%;
    }

    img.weird-pics {
        width: 65%;
    margin-top: -127%;
    margin-left: 402px;
    }

    

    .black-banner {
        display: none;
    }

    .slider {
        width: 516px;
        margin-left: -121px;
    }

    .pagination span {
        display: none;
    }

    .blue-banner {
        display: block;
        
        font-size: 12px;
        padding-left: 23px;
        margin-left: -5px;
    }

    .home-ctas .inner .cta-blocks {
        margin-bottom: 20px;
    }

    .home-ctas .inner .cta-blocks li {
        width: 100%;
        margin-bottom: 20px;
    }

    .cta-blocks span {
        padding-top: 20px;
    }

    .home-ctas .inner .cta-blocks li a {
        padding: 81px 0;
        text-align: center;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
    }

    .li span {
        margin-top: 20px;
    }

    .home-ctas .inner .sub-links li {
        width: 100%;
        margin-bottom: 10px;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

    }

    .sub-links {
        margin-top: 20px;
        flex-direction: column;

    }

    .inside {
        /* width: 43%; */
        display:flex;
        flex-direction: column;
        margin-left: 48px;
    margin-bottom: -150%;


    }

   

    .menuthingie {
        margin-left: 32px;
        margin-top: 50px;
        width: 26px;
    }

    img.sitelogo {
        margin-left: 14px;
        width: 89px;
    }

    img.next {
        width: 40px;
        margin-left: 3px;
    } 

}
/* @media only screen and (min-width:37) */
/**/
@media screen and (min-width: 401px) and (max-width: 450px){
    .slider {
        margin-left: -32%;
        width: 180%;
    }
    .next{
        width: 40px;    
    }
    
    .home-ctas .inner {
        padding: 0 10px;
    }

    .home-intro .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-intro .inner p {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    .home-intro .weird-pic {
        margin-top: 201%;
        margin-left: -410px;
        width: 159%;
    }

    img.weird-pics {
        width: 65%;
    margin-top: -127%;
    margin-left: 402px;
    }

    

    .black-banner {
        display: none;
    }

   

    .pagination span {
        display: none;
    }

    .blue-banner {
        display: block;
        width: 315px;
        font-size: 12px;
        padding-left: 23px;
        margin-left: -5px;
    }

    .home-ctas .inner .cta-blocks {
        margin-bottom: 20px;
    }

    .home-ctas .inner .cta-blocks li {
        width: 100%;
        margin-bottom: 20px;
    }

    .cta-blocks span {
        padding-top: 20px;
    }

    .home-ctas .inner .cta-blocks li a {
        padding: 81px 0;
        text-align: center;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
    }

    .li span {
        margin-top: 20px;
    }

    .home-ctas .inner .sub-links li {
        width: 100%;
        margin-bottom: 10px;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

    }

    .sub-links {
        margin-top: 20px;
        flex-direction: column;

    }

    .inside {
        /* width: 43%; */
        display:flex;
        flex-direction: column;
        margin-left: 48px;
    margin-bottom: -150%;


    }

   

    .menuthingie {
        margin-left: 32px;
        margin-top: 50px;
        width: 26px;
    }

    img.sitelogo {
        margin-left: 14px;
        width: 89px;
    }

    img.next {
        width: 40px;
    } 

}


@media only screen and (min-width: 450px) and (max-width: 460px) {
    /* .next {
        width: 40px;
        margin-left: -36px;
    }

    .black-banner {
        display: none;
    }

    .inside {
        display: flex;
        flex-direction: column;
        margin-left: 32px;
    }

    .blue-banner {
        width: 67%;
        font-size: 14px;
        padding-left: 9px;
    }

    img.weird-pics {
        margin-left: 13px;
        width: 269px;
    }

    .home-intro .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-intro .inner p {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    img.weird-pics {
        width: 340px;
    }

    .black-banner {
        display: none;
    }

    .slider {
        
        margin-left: -112px;
    }

    .pagination span {
        display: none;
    }

    .blue-banner {
        display: block;
        width: 315px;
        font-size: 12px;
        padding-left: 23px;
        margin-left: -5px;
    }

    .home-ctas .inner .cta-blocks {
        margin-bottom: 20px;
    }

    .home-ctas .inner .cta-blocks li {
        width: 100%;
        margin-bottom: 20px;
    }

    .cta-blocks span {
        padding-top: 20px;
    }

    .home-ctas .inner .cta-blocks li a {
        padding: 81px 0;
        text-align: center;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
    }

    .li span {
        margin-top: 20px;
    }

    .home-ctas .inner .sub-links li {
        width: 100%;
        margin-bottom: 10px;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

    }

    .menuthingie {
        margin-left: 32px;
        margin-top: 50px;
        width: 26px;
    }

    img.sitelogo {
        margin-left: 21px;
        width: 89px;
    }

    img.next {
        width: 40px;
    } */

    .home-ctas .inner {
        padding: 0 10px;
    }

    .home-intro .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-intro .inner p {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    .home-intro .weird-pic {
        margin-top: 201%;
        margin-left: -410px;
        width: 159%;
    }

    img.weird-pics {
        width: 65%;
    margin-top: -127%;
    margin-left: 402px;
    }

    

    .black-banner {
        display: none;
    }

   

    .pagination span {
        display: none;
    }

    .blue-banner {
        display: block;
        width: 315px;
        font-size: 12px;
        padding-left: 23px;
        margin-left: -5px;
    }

    .home-ctas .inner .cta-blocks {
        margin-bottom: 20px;
    }

    .home-ctas .inner .cta-blocks li {
        width: 100%;
        margin-bottom: 20px;
    }

    .cta-blocks span {
        padding-top: 20px;
    }

    .home-ctas .inner .cta-blocks li a {
        padding: 81px 0;
        text-align: center;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
    }

    .li span {
        margin-top: 20px;
    }

    .home-ctas .inner .sub-links li {
        width: 100%;
        margin-bottom: 10px;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

    }

    .sub-links {
        margin-top: 20px;
        flex-direction: column;

    }

    .inside {
        /* width: 43%; */
        display:flex;
        flex-direction: column;
        margin-left: 48px;
    margin-bottom: -150%;


    }

   

    .menuthingie {
        margin-left: 32px;
        margin-top: 50px;
        width: 26px;
    }

    img.sitelogo {
        margin-left: 14px;
        width: 89px;
    }

    img.next {
        width: 40px;
    } 

}

@media only screen and (min-width: 460px) and (max-width: 471px) {
    .next {
        width: 40px;
        
    }

    .black-banner {
        display: none;
    }

    .inside {
        display: flex;
        flex-direction: column;
        margin-left: 32px;
    }

    .blue-banner {
        width: 67%;
        font-size: 14px;
        padding-left: 9px;
    }

    img.weird-pics {
        margin-left: 13px;
        width: 269px;
    }

    .home-intro .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-intro .inner p {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    img.weird-pics {
        width: 340px;
    }

    .black-banner {
        display: none;
    }

    /* .slider {
        width: 567px;
        margin-left: -112px;
    } */
    .slider {
        margin-left: -27%;
        width: 139%;
    }
    .pagination span {
        display: none;
    }

    .blue-banner {
        display: block;
        width: 315px;
        font-size: 12px;
        padding-left: 23px;
        margin-left: -5px;
    }

    .home-ctas .inner .cta-blocks {
        margin-bottom: 20px;
    }

    .home-ctas .inner .cta-blocks li {
        width: 100%;
        margin-bottom: 20px;
    }

    .cta-blocks span {
        padding-top: 20px;
    }

    .home-ctas .inner .cta-blocks li a {
        padding: 81px 0;
        text-align: center;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
    }

    .li span {
        margin-top: 20px;
    }

    .home-ctas .inner .sub-links li {
        width: 100%;
        margin-bottom: 10px;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

    }

    .menuthingie {
        margin-left: 32px;
        margin-top: 50px;
        width: 26px;
    }

    img.sitelogo {
        margin-left: 21px;
        width: 89px;
    }

  
}
@media screen and (max-width:481px){
    .next{
        margin-left:20px;
    }
    .slider {
        width:580px;
    }
}
@media only screen and (min-width: 471px) and (max-width: 481px) {
    .next {
        width: 40px;
        
    }

    .black-banner {
        display: none;
    }

    .inside {
        display: flex;
        flex-direction: column;
        margin-left: 32px;
    }

    .blue-banner {
        width: 67%;
        font-size: 14px;
        padding-left: 9px;
    }

    img.weird-pics {
        margin-left: 13px;
        width: 269px;
    }

    .home-intro .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-intro .inner p {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    img.weird-pics {
        width: 340px;
    }

    .black-banner {
        display: none;
    }

    /* .slider {
        width: 567px;
        margin-left: -112px;
    } */
    .slider {
        margin-left: -27%;
        width: 143%;
    }
    .pagination span {
        display: none;
    }

    .blue-banner {
        display: block;
        width: 315px;
        font-size: 12px;
        padding-left: 23px;
        margin-left: -5px;
    }

    .home-ctas .inner .cta-blocks {
        margin-bottom: 20px;
    }

    .home-ctas .inner .cta-blocks li {
        width: 100%;
        margin-bottom: 20px;
    }

    .cta-blocks span {
        padding-top: 20px;
    }

    .home-ctas .inner .cta-blocks li a {
        padding: 81px 0;
        text-align: center;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
    }

    .li span {
        margin-top: 20px;
    }

    .home-ctas .inner .sub-links li {
        width: 100%;
        margin-bottom: 10px;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

    }

    .menuthingie {
        margin-left: 32px;
        margin-top: 50px;
        width: 26px;
    }

    img.sitelogo {
        margin-left: 21px;
        width: 89px;
    }

  
}


@media only screen and (min-width: 450px) and (max-width: 460px) {
    .next {
        width: 40px;
        margin-left: -36px;
    }

    .black-banner {
        display: none;
    }

    .inside {
        display: flex;
        flex-direction: column;
        margin-left: 32px;
    }

    .blue-banner {
        width: 67%;
        font-size: 14px;
        padding-left: 9px;
    }

    img.weird-pics {
        margin-left: 13px;
        width: 269px;
    }

    .home-intro .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-intro .inner p {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    img.weird-pics {
        width: 340px;
    }

    .black-banner {
        display: none;
    }

    .slider {
        width: 567px;
        margin-left: -112px;
    }

    .pagination span {
        display: none;
    }

    .blue-banner {
        display: block;
        width: 315px;
        font-size: 12px;
        padding-left: 23px;
        margin-left: -5px;
    }

    .home-ctas .inner .cta-blocks {
        margin-bottom: 20px;
    }

    .home-ctas .inner .cta-blocks li {
        width: 100%;
        margin-bottom: 20px;
    }

    .cta-blocks span {
        padding-top: 20px;
    }

    .home-ctas .inner .cta-blocks li a {
        padding: 81px 0;
        text-align: center;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
    }

    .li span {
        margin-top: 20px;
    }

    .home-ctas .inner .sub-links li {
        width: 100%;
        margin-bottom: 10px;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

    }

    .menuthingie {
        margin-left: 32px;
        margin-top: 50px;
        width: 26px;
    }

    img.sitelogo {
        margin-left: 21px;
        width: 89px;
    }

    img.next {
        width: 40px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 500px) {
    .next {
        width: 40px;
        margin-left: -4px;
    }

    .black-banner {
        display: none;
    }

    .inside {
        display: flex;
        flex-direction: column;
        margin-left: 32px;
    }

    .blue-banner {
        width: 67%;
        font-size: 14px;
        padding-left: 9px;
    }

    img.weird-pics {
        margin-left: 13px;
        width: 269px;
    }

    .home-intro .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-intro .inner p {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    img.weird-pics {
        width: 340px;
    }

    .black-banner {
        display: none;
    }

    .slider {
        width: 647px;
        margin-left: -112px;
    }

    .pagination span {
        display: none;
    }

    .blue-banner {
        display: block;
        width: 315px;
        font-size: 12px;
        padding-left: 23px;
        margin-left: -5px;
    }

    .home-ctas .inner .cta-blocks {
        margin-bottom: 20px;
    }

    .home-ctas .inner .cta-blocks li {
        width: 100%;
        margin-bottom: 20px;
    }

    .cta-blocks span {
        padding-top: 20px;
    }

    .home-ctas .inner .cta-blocks li a {
        padding: 81px 0;
        text-align: center;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
    }

    .li span {
        margin-top: 20px;
    }

    .home-ctas .inner .sub-links li {
        width: 100%;
        margin-bottom: 10px;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

    }

    .menuthingie {
        margin-left: 32px;
        margin-top: 50px;
        width: 26px;
    }

    img.sitelogo {
        margin-left: 21px;
        width: 89px;
    }

  
}
@media only screen and (min-width:400px) and (max-width:470px){
    .slider {
        width: 152%;
        margin-left: -128px;
    }
    .next{
        margin-left:-10px;
    }
}
@media only screen and (min-width:501px) and (max-width:599px) {
    .next {
        width: 40px;
        margin-left: -4px;
    }

    .black-banner {
        display: none;
    }

    .inside {
        display: flex;
        flex-direction: column;
        margin-left: 32px;
    }

    .blue-banner {
        width: 67%;
        font-size: 14px;
        padding-left: 9px;
    }

    img.weird-pics {
        margin-left: 13px;
        width: 269px;
    }

    .home-intro .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-intro .inner p {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

    img.weird-pics {
        width: 340px;
    }

    .black-banner {
        display: none;
    }

    .slider {
        width: 647px;
        margin-left: -112px;
    }

    .pagination span {
        display: none;
    }

    .blue-banner {
        display: block;
        width: 315px;
        font-size: 12px;
        padding-left: 23px;
        margin-left: -5px;
    }

    .home-ctas .inner .cta-blocks {
        margin-bottom: 20px;
    }

    .home-ctas .inner .cta-blocks li {
        width: 100%;
        margin-bottom: 20px;
    }

    .cta-blocks span {
        padding-top: 20px;
    }

    .home-ctas .inner .cta-blocks li a {
        padding: 81px 0;
        text-align: center;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
    }

    .li span {
        margin-top: 20px;
    }

    .home-ctas .inner .sub-links li {
        width: 100%;
        margin-bottom: 10px;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

    }

    .menuthingie {
        margin-left: 32px;
        margin-top: 50px;
        width: 26px;
    }

    img.sitelogo {
        margin-left: 21px;
        width: 89px;
    }
}






@media only screen and (min-width:800px) and (max-width:850px) {
    .next {
        width: 40px;
        margin-left: -20px;
    }

    img.weird-pics {
        margin-left: 2px
    }

    .inside {
        display: flex;
        flex-direction: column;
    }

    .black-banner {
        display: none;
    }

    img.logobutton {
        margin-top: 40%;
    }
}



@media screen and (min-width: 950px) and (max-width:1100px) {

    img.weird-pics {
        margin-top: 32px;
        margin-left: 10%;
    }

    .sub-links {
        flex-direction: column;

    }

    .home-ctas .inner .cta-blocks li a span {
        font-size: 24px;
    }

    .home-ctas .inner {
        width: 88%;
        margin-left: 86px;
    }
}

@media screen and  (min-width:799px) {
  

    .menuthingie {
        width: 29px;
        margin-top: 43px;
    }
    .black-banner{
        display:none;
     }
}


@media screen and (min-width:799px) and (max-width:849px)  {
    .home-ctas .inner .cta-blocks {
        width: 93.5%;
        margin-left: 17px;
        font-size: 12px;
    }

    .home-ctas .inner .sub-links {
        width: 93.5%;
        margin-left: 17px;
        font-size: 12px;
    }
    .slider-inner img.active {
        display: inline-block;
        margin-left: 8px;
        width: 99%;
    }
    .inside {
        display: flex;
        flex-direction: column;
        width: 79%;
        margin-left: 53px;
    }
    .slider {
        width: 110%;
        margin-left: -44px;
    }
   .blue-banner {
    margin-left:-0px;
   }
}
@media screen and (min-width:849px) and (max-width:1060px){
   .slider {
    width: 119%;
    margin-left: -112px;
   }
   .blue-banner {
    margin-left:-4px;
   }
}
@media screen and (min-width:789px) and (max-width:849px)  {
    .home-ctas .inner .cta-blocks {
        width: 98.4%;
        margin-left: 6px;
        font-size: 12px;
    }

    .home-ctas .inner .sub-links {
        width: 98.4%;
        margin-left: 6px;
        font-size: 12px;
    }
    .slider-inner img.active {
        display: inline-block;
        margin-left: 8px;
        width: 99%;
    }
    .inside {
        display: flex;
        flex-direction: column;
        width: 79%;
        margin-left: 53px;
    }
    .slider {
        width: 110%;
        margin-left: -44px;
    }
   .blue-banner {
    margin-left:-0px;
   }
   .pagination {
    margin-right: -121px;
}
   
}
@media screen and (min-width:700px) and (max-width:789px)  {
    .home-ctas .inner .cta-blocks {
        margin-bottom: 20px;
    }
    img.weird-pics {
        margin-left: 13px;
        width: 89%;
    }
    .home-ctas .inner .cta-blocks li {
        width: 32%;
        margin-bottom: 20px;
    }

    .cta-blocks span {
        padding-top: 20px;
    }

    .home-ctas .inner .cta-blocks li a {
        display:flex;
        flex-direction:column;
        padding: 81px 0;
        text-align: center;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
    }

    .li span {
        margin-top: 20px;
    }

    .home-ctas .inner .sub-links li {
        
        margin-bottom: 10px;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
        width:100%;

    }

    .menuthingie {
        margin-left: 32px;
        margin-top: 50px;
        width: 26px;
    }

    img.sitelogo {
        margin-left: 21px;
        width: 89px;
    }

    img.next {
        width: 40px;
        margin-left: -83px;
    }
    .slider-inner img.active {
        display: inline-block;
        margin-left: 8px;
        width: 99%;
    }
    .inside {
        display: flex;
        flex-direction: column;
        width: 79%;
        margin-left: 53px;
    }
    .black-banner{
        display:none;
    }

   
}
@media screen and (min-width:600px) and (max-width:620px)  {
    .next {
        width: 40px;
        margin-left: 9px;
    }
    .black-banner {
        display: none;
    }
    .black-banner{
        display:none;
    }
    .inside {
        display: flex;
        flex-direction: column;
        margin-left: 32px;
        width: 95%;
    }

    .blue-banner {
        width: 67%;
        font-size: 14px;
        padding-left: 9px;
    }
   

    img.weird-pics {
        margin-left: 13px;
        width: 89%;
    }

    .home-intro .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-intro .inner p {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

   

    .black-banner {
        display: none;
    }

    .slider {
        width: 769px;
        margin-left: -121px;
    }

    .pagination span {
        display: none;
    }

    .blue-banner {
        display: block;
        width: 315px;
        font-size: 12px;
        padding-left: 23px;
        margin-left: -5px;
    }

    .home-ctas .inner .cta-blocks {
        margin-bottom: 20px;
    }

    .home-ctas .inner .cta-blocks li {
        width: 100%;
        margin-bottom: 20px;
    }

    .cta-blocks span {
        padding-top: 20px;
    }

    .home-ctas .inner .cta-blocks li a {
        padding: 81px 0;
        text-align: center;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
    }

    .li span {
        margin-top: 20px;
    }

    .home-ctas .inner .sub-links li {
        width: 100%;
        margin-bottom: 10px;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

    }

    .menuthingie {
        margin-left: 32px;
        margin-top: 50px;
        width: 26px;
    }

    img.sitelogo {
        margin-left: 21px;
        width: 89px;
    }
 }
   
 @media screen and (min-width:620px) and (max-width:640px){
    .next {
        width: 40px;
        margin-left: 9px;
    }
    .black-banner {
        display: none;
    }
    .black-banner{
        display:none;
    }
    .inside {
        display: flex;
        flex-direction: column;
        margin-left: 32px;
        width: 95%;
    }

    .blue-banner {
        width: 67%;
        font-size: 14px;
        padding-left: 9px;
    }
   

    img.weird-pics {
        margin-left: 13px;
        width: 89%;
    }

    .home-intro .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-intro .inner p {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

   

    .black-banner {
        display: none;
    }

    .slider {
        width: 785px;
        margin-left: -121px;
    }

    .pagination span {
        display: none;
    }

    .blue-banner {
        display: block;
        width: 315px;
        font-size: 12px;
        padding-left: 23px;
        margin-left: -5px;
    }

    .home-ctas .inner .cta-blocks {
        margin-bottom: 20px;
    }

    .home-ctas .inner .cta-blocks li {
        width: 100%;
        margin-bottom: 20px;
    }

    .cta-blocks span {
        padding-top: 20px;
    }

    .home-ctas .inner .cta-blocks li a {
        padding: 81px 0;
        text-align: center;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
    }

    .li span {
        margin-top: 20px;
    }

    .home-ctas .inner .sub-links li {
        width: 100%;
        margin-bottom: 10px;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

    }

    .menuthingie {
        margin-left: 32px;
        margin-top: 50px;
        width: 26px;
    }

    img.sitelogo {
        margin-left: 21px;
        width: 89px;
    }
 }
 @media screen and (min-width:640px) and (max-width:700px){
    .next {
        width: 40px;
        margin-left: -16px;
    }
    .black-banner {
        display: none;
    }
    .black-banner{
        display:none;
    }
    .inside {
        display: flex;
        flex-direction: column;
        margin-left: 32px;
        width: 95%;
    }

    .blue-banner {
        width: 67%;
        font-size: 14px;
        padding-left: 9px;
    }
   

    img.weird-pics {
        margin-left: 13px;
        width: 89%;
    }

    .home-intro .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-intro .inner p {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
    }

   

    .black-banner {
        display: none;
    }

    .slider {
        width: 815px;
        margin-left: -121px;
    }

    .pagination span {
        display: none;
    }

    .blue-banner {
        display: block;
        width: 315px;
        font-size: 12px;
        padding-left: 23px;
        margin-left: -5px;
    }

    .home-ctas .inner .cta-blocks {
        margin-bottom: 20px;
    }

    .home-ctas .inner .cta-blocks li {
        width: 100%;
        margin-bottom: 20px;
    }

    .cta-blocks span {
        padding-top: 20px;
    }

    .home-ctas .inner .cta-blocks li a {
        padding: 81px 0;
        text-align: center;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
    }

    .li span {
        margin-top: 20px;
    }

    .home-ctas .inner .sub-links li {
        width: 100%;
        margin-bottom: 10px;
    }

    .home-ctas .inner .sub-links {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

    }

    .menuthingie {
        margin-left: 32px;
        margin-top: 50px;
        width: 26px;
    }

    img.sitelogo {
        margin-left: 21px;
        width: 89px;
    }
 }
@media screen and (min-width:779px) {

    .menuthingie {
        width: 29px;
        margin-top: 40px;
    }

  
    .next {
        margin-left: -40px;
    }

    img.weird-pics {
        margin-left: 1px;
    }

    .home-ctas .inner .cta-blocks li a span {
        font-size: 24px;
    }
}

@media screen and (min-width:749px) {

    img.weird-pics {
        margin-left: 13px;
        
    }
    .next {
        margin-left: -40px;
    }

    img.weird-pics {
        margin-left: 1px;
    }

    .home-ctas .inner .cta-blocks li a span {
        font-size: 24px;
    }
}



/* @media screen and (min-width:600px) {

    .menuthingie {
        width: 29px;
        margin-top: 43px;
    }

    .next {
        margin-left: -40px;
    }

    img.weird-pics {
        margin-left: 1px;
    }

    .home-ctas .inner .cta-blocks li a span {
        font-size: 24px;
    }
} */

@media screen and (min-width:780px) {
    .next {
        margin-left: -20px;
        width: 50px;
    }

    .pagination {
        margin-right: -85px;
    }

    .home-ctas .inner .cta-blocks li a span {
        font-size: 24px;
    }
}

@media screen and (min-width:857px) and (max-width:860px) {
    .inside {
        display: flex;
        flex-direction: column;
    }

    /*this one */
    .next {
        margin-left: -20px;
        width: 50px;
    }

    .pagination {
        margin-right: -85px;

    }

    .home-ctas .inner .cta-blocks li a span {
        font-size: 24px;
    }
}




@media screen and (min-width: 850px) and (max-width:1062px) {

    img.weird-pics {
        margin-top: 32px;
        margin-left: 10%;
    }

    .sub-links {
        flex-direction: column;

    }

    .inside {
        display: flex;
        flex-direction: column;
    }

    .home-ctas .inner {
        width: 88%;
        margin-left: 86px;
    }
}

@media screen and (min-width: 1080px) and (max-width:1100px) {

    img.weird-pics {
        margin-top: 32px;
        margin-left: 17%;
    }

    .home-ctas .inner {
        width: 88%;
        margin-left: 86px;
    }

    .home-ctas .inner .cta-blocks li a span {
        font-size: 24px;
    }

    .pagination {
        margin-right: -85px;

    }
}

@media screen and (min-width:1101px) and (max-width:1200px) {
    img.weird-pics {
        margin-top: 32px;
        margin-left: 17%;
    }

    .home-ctas .inner {
        width: 88%;
        margin-left: 86px;
    }

    .pagination {
        margin-right: -85px;
    }

    .home-ctas .inner .cta-blocks li a span {
        font-size: 24px;
    }
}

@media screen and (min-width:1201px) and (max-width:1300px) {
    img.weird-pics {
        margin-top: 32px;
        margin-left: 17%;
    }

    .home-ctas .inner {
        width: 89.5%;
        margin-left: 86px;
    }
}

@media screen and (min-width:1301px) and (max-width:1400px) {
    img.weird-pics {
        margin-top: 32px;
        margin-left: 31%;
    }

    .home-ctas .inner {
        width: 89.5%;
        margin-left: 86px;
    }
}

@media screen and (min-width:1401px) and (max-width:1800px) {
    img.weird-pics {
        margin-top: 32px;
        margin-left: 31%;
    }

    .home-ctas .inner {
        width: 89.5%;
        margin-left: 86px;
    }
}



































@media screen and (min-width:1000px) and (max-width:1099px) {


    .home-ctas .inner .cta-blocks {
        width: 100%;
        margin-left: 73px;
    }

    .home-ctas .inner .sub-links {
        width: 91.2%;
        margin-left: 72px;
    }

    img.weird-pics {
        margin-top: 207px;
        margin-left: -550px;
    }

}
@media screen and (min-width:1099px) and (max-width:1196px){
    .inside {
         margin-left:53px;
    }

    img.weird-pics {
        margin-right: -12px;
        width: 293px;
    }

    .home-ctas .inner .cta-blocks {
        width: 103.1%;
        margin-left: -13px;
    }

    .home-ctas .inner .sub-links {
        width: 103.1%;
        margin-left: -13px;
    }
}
@media screen and (min-width:1150px) and (max-width:1198px) {
    .inside {
        width: 68%;
    }

    img.weird-pics {
        margin-right: -132px;
        width: 393px;
    }

    .home-ctas .inner .cta-blocks {
        width: 103.1%;
        margin-left: -13px;
    }

    .home-ctas .inner .sub-links {
        width: 103.1%;
        margin-left: -13px;
    }

}

@media screen and (min-width:1170px) and (max-width:1197px) {
    .next{
        margin-left:20px;
        margin-top:20px;
    }
    img.weird-pics {
        margin-top: 32px;
        margin-left: 45%;
    }
    .home-ctas .inner .cta-blocks {
        width: 100.4%;
    margin-left: 2px;
    }
    .home-ctas .inner {
        width: 90.4%;
        margin-left: 70px;
    }
   
    .home-ctas .inner .sub-links {
        width: 100.4%;
        margin-left: 3px;
    }
    .menuthingie{
        margin-top: 35px;
        margin-right: -40px;
    }
}

/* @media screen and (min-width:1098px)  {
    .home-ctas .inner .cta-blocks {
        width: 91.5%;
        margin-left: 73px;
    }

    .home-ctas .inner .sub-links {
        width: 91.2%;
        margin-left: 72px;
    }

    .home-ctas .inner {
        width: 99.4%;
        margin-left: -1px;
    }
    .next {
        margin-left: -20px;
        width: 50px;
    }
    .inside {
        width: 82%;
    }
}    1061 */
@media screen and (min-width:1000px) and (max-width:1061px) {
    .home-ctas .inner .cta-blocks {
        width: 91.5%;
        margin-left: 73px;
    }

    .home-ctas .inner .sub-links {
        width: 91.2%;
        margin-left: 72px;
    }

    .home-ctas .inner {
        width: 99.4%;
        margin-left: -1px;
    }
    img.weird-pics {
        margin-left: 27%;
        margin-top: 4%;
    }
    .next{
        margin-left:5px;
    }

}
@media screen and (min-width:700px) and (max-width:789px){
    .slider-inner img.active {
        display: inline-block;
        margin-left: 8px;
        width: 99%;
    }
    .next{
        
    }
}
@media screen and (min-width:1061px){
    .home-ctas .inner .cta-blocks {
        width: 110.9%;
        margin-left: -69px;
    }

    .home-ctas .inner .sub-links {
        width: 110.9%;
        margin-left: -69px;
    }

    /* .home-ctas .inner {
        width: 99.4%;
        margin-left: -1px;
    } */
    img.weird-pics {
        margin-left: 27%;
        margin-top: 4%;
    }
    .slider {
        margin-left: -90px;
        width: 113%;
    }
}
/* @media screen and (min-width:1062px) and (max-width:1099px) {
    .home-ctas .inner .cta-blocks {
        width: 91.5%;
        margin-left: 73px;
    }

    .home-ctas .inner .sub-links {
        width: 91.2%;
        margin-left: 72px;
    }

    .home-ctas .inner {
        width: 99.4%;
        margin-left: -1px;
    }
} */

@media screen and (min-width:1197px) and (max-width:1199px) {
    img.weird-pics {
        width: 333px;
        margin-left: 59%;
    }

    .home-ctas .inner .cta-blocks {
        width: 100%;
        margin-left: 16px;
    }

    .home-ctas .inner .sub-links {
        width: 100%;
        margin-left: 16px;
    }

    .home-ctas .inner {
        width: 99.4%;
        margin-left: -1px;
    }

    .menuthingie {
        margin-top: 29px;
        width: 38px;
    }

    .next {
        margin-left: 20px;
        margin-top: 20px;
    }
    .inside {
        width: 70%;
    margin-left: 57px;
    }
}
/* @media screen and (min-width:1196px) and (max-width:1200px) {
    .inside {
        width: 68%;
        margin-left:-
    }
    .weird-pic {
        margin-left: -151px;
    }

    .home-ctas .inner .cta-blocks {
        width: 108.8%;
        margin-left: -53px;
    }

    .home-ctas .inner .sub-links {
        width: 108.8%;
        margin-left: -53px;
    }

} */

@media screen and (min-width: 1200px) and (max-width:1300px) {
    img.weird-pics {
        width: 333px;
        margin-right: -54px;
    }

    .home-ctas .inner .cta-blocks {
        width: 100%;
    margin-left: 16px;
    }

    .home-ctas .inner .sub-links {
        width: 100%;
        margin-left: 16px;
    }

    .home-ctas .inner {
        width: 99.4%;
        margin-left: -1px;
    }

    .menuthingie {
        margin-top: 29px;
        width: 38px;
    }

    .next {
        margin-left: 20px;
        margin-top: 20px;
    }
}

/* @media screen and (min-width: 1301px) and (max-width:1399px) {
    img.weird-pics {
        width: 333px;
        margin-right: 53px;
    }
    .home-ctas .inner .cta-blocks {
        width: 91.5%;
        margin-left: 73px;
    }
    .home-ctas .inner .sub-links {
        width: 91.2%;
        margin-left: 72px;
    }
   .menuthingie{
    margin-top:10px;
   }
} */
@media screen and (min-width: 850px) and (max-width:1061px){
    .home-ctas .inner .cta-blocks {
        width: 116%;
        margin-left: -92px;
    }

    .home-ctas .inner .sub-links {
        width: 116%;
    margin-left: -92px;
    }
}
@media screen and (min-width:850px) {
    .home-ctas .inner .cta-blocks {
        width: 116%;
        margin-left: -92px;
    }

    .home-ctas .inner .sub-links {
        width: 116%;
        margin-left: -92px;
    }
}
@media screen and (min-width: 1400px) and (max-width:1440px) {
    img.weird-pics {
        margin-right: 10px;
        width: 333px;
    }

    .home-ctas .inner .cta-blocks {
        width: 91.5%;
        margin-left: 73px;
    }

    .home-ctas .inner .sub-links {
        width: 91.2%;
        margin-left: 72px;
    }

    .menuthingie {
        margin-top: 10px;
        width: 38px;
    }
}

@media screen and (min-width: 1400px) and (max-width:1438px) {
    .home-ctas .inner .cta-blocks {
        width: 91.5%;
        margin-left: 73px;
    }

    .home-ctas .inner .sub-links {
        width: 101.6%;
        margin-left: -11px;
    }

    .home-ctas .inner .cta-blocks {
        width: 101.6%;
        margin-left: -11px;
    }

    .next {
        margin-left: 20px;
    }
}

@media screen and (min-width:1438px) {
    .home-ctas .inner .cta-blocks {
        width: 109.6%;
        margin-left: -70px;
    }

    .home-ctas .inner .sub-links {
        width: 109.6%;
        margin-left: -70px;
    }

    .home-ctas .inner .cta-blocks {
        width: 109.6%;
        margin-left: -70px;
    }

    .next {
        margin-left: 20px;
    }
}

@media screen and (min-width: 1301px) and (max-width:1398px) {
    .home-ctas .inner .cta-blocks {
        width: 96.5%;
        margin-left: -12px;
    }

    .home-ctas .inner .sub-links {
        width: 96.7%;
        margin-left: -11px;
    }

    .home-ctas .inner {
        width: 94.5%;
        margin-left: 86px;
    }

    .next {
        margin-left: 20px;
        margin-top: 26px;
    }
}

@media screen and (min-width: 1439px) and (max-width:1440px) {
    img.weird-pics {
        margin-right: 10px;
        width: 333px;
    }

    .home-ctas .inner .cta-blocks {
        width: 91.5%;
        margin-left: 73px;
    }

    .home-ctas .inner .sub-links {
        width: 101.6%;
        margin-left: -11px;
    }

    .home-ctas .inner .cta-blocks {
        width: 101.6%;
        margin-left: -11px;
    }

    .menuthingie {
        margin-top: 10px;
        width: 38px;
    }

}